/java/se/ApartmentLayeredJDBCApp/nbproject/private/
/java/se/NonLayerJDBCApp/nbproject/private/
/java/se/NonLayerJDBCApp/build/
/java/se/ApartmentLayeredJDBCApp/build/
/java/se/IO202202FindByTXTApp/nbproject/private/
/java/se/IO202202FindByTXTApp/build/
