[submodule "java/spring_boot/khangym_vitereactts"]
	path = java/spring_boot/khangym_vitereactts
	url = https://github.com/csemahmud/khangym_vitereactts_v2
[submodule "java/spring_boot/usercrud2412_vitereactts"]
	path = java/spring_boot/usercrud2412_vitereactts
	url = https://github.com/csemahmud/usercrud2412_vitereactts
[submodule "webgl_vitereactts"]
	path = webgl_vitereactts
	url = https://github.com/csemahmud/webgl_vitereactts
