#root {
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app_background{
  width: 100%;
  background-color: #bbb;
  color: #fff;
}

.container{
  background-color: #888;
  color: #fff;
}

.button__container {
  margin: 20px 0px 5px 20px ;
  text-align: right;
}

.btn {
  background-color:green;
  border: none;
  color: white;
  font-size: 16 px ;
  height: 40 px ;
  width: 200 px ;
}

table {
  min-width: 100px;
  white-space: nowrap;
  margin: 0px;
  border-collapse: collapse;
}

table thead tr th {
  border-color: #007;
  border-width: 3px;
  border-collapse: collapse;
  border-style: solid;
  margin: 0px;
  padding: 5px;
  white-space: nowrap;
}

table tbody tr td {
  border-color: #007;
  border-width: 3px;
  border-collapse: collapse;
  border-style: solid;
  margin: 0px;
  padding: 5px;
  white-space: nowrap;
}

table thead{
  background-color: #77f;
  color: #007;
  text-align: center;
  font-weight: bold;
}

table tbody{
  text-align: left;
}

.header{
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 50px;
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: pink;
  text-align: center;
  color: lightgoldenrodyellow;
}

.browser_router{
  width: 100;
  text-align: center;
}

form {
  text-align: left;
}

.custab {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 10% 0;
  box-shadow: 3px 3px 2px #ccc;
  transition: 0.5s;
}

.custab:hover {
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s
}


.col-md-12 {
  width: 62%;
}


#custom-search-input {
  margin: 0;
  margin-top: 24px;
  padding: 2px;
}

#custom-search-input .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;

  /* IE 7 - 8 doesn't have border radius, so don't indent the padding . */

  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#custom-search-input button {
  border: 0;
  background: #444;

  /* Belows styles are working good .  */
  padding: 5px;
  margin: 2px;
  position: relative;
  left: -28px;

  /* IE 7 - 8 doesn't have border radius, so don't indent the padding . */

  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #FFF;
}

.search-query:focus + button {
  z-index: 3;
  background: #333;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  padding-right: 0px;
  padding-left: 183px;
}