.section-content{
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.button__container {
  margin: 20px 0px 5px 20px ;
  text-align: right;
}

.btn {
  background-color:green;
  border: none;
  color: white;
  font-size: 16 px ;
  height: 40 px ;
  width: 200 px ;
}

.add-user-btn {
  float: right;
  margin-bottom: 10px;
}

.list-header {
  text-align: center;
  color: #000088;
}

#custom-search-input {
  margin: 0;
  margin-top: 24px;
  padding: 2px;
}

#custom-search-input .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;

  /* IE 7 - 8 doesn't have border radius, so don't indent the padding . */

  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#custom-search-input button {
  border: 0;
  background: #444;

  /* Belows styles are working good .  */
  padding: 5px;
  margin: 2px;
  position: relative;
  left: -28px;

  /* IE 7 - 8 doesn't have border radius, so don't indent the padding . */

  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #FFF;
}

.search-query:focus + button {
  z-index: 3;
  background: #333;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  padding-right: 0px;
  padding-left: 183px;
}

input[type = "text"],
input[type = "email"],
input[type = "number"]{
    height: 40px;
    padding-left: 25px;
    margin: 5px;
}